@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #181818;
  background: #ffffff;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #181818;
  }
  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}