@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #181818;
  background: #ffffff;
}

body.darkMode {
  color: #ffffff;
  background: #181818;
}

.imgLight {
  display: unset;
}

.imgDark {
  display: none;
}

body.darkMode .imgLight {
  display: none;
}
body.darkMode .imgDark {
  display: unset;
}
